@import './../../App.scss';

$navbar_bg: rgba(0, 0, 0, 0.85);

.navbar{
  background-color: $navbar_bg;
  color: $white;
  height: 8%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

ul.nav.navbar-nav li{
  display: inline;
  padding: 3%;
  text-decoration: none;
}

ul li a{
  text-decoration: none;
  color: $white;
}

ul li a:hover, a:visited{
  color: $white;
}