
$footer_left: 0px;
$footer_bottom: 0px;
$footer_height: 30px;
$footer_width: 100%;

footer{
    position: fixed;
    left: $footer_left;
    bottom: $footer_bottom;
    height: $footer_height;
    width: $footer_width;
}

